<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Worth One Minute</title>
    <meta name="description" content="WOM is general-purpose rewarding platform based on a voucher exchange system." />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="stylesheet" href="/raleway.css" type="text/css" />
    <link rel="stylesheet" href="/bulma.min.css" />
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <section class="header">
        <header>
            <div class="container is-constrained">
                <figure class="image logo">
                    <img src="/wom-logo.png" srcset="/wom-logo_960w.png 960w, /wom-logo_1680w.png 1680w" alt="WOM logo" width="2031" height="1250" />
                </figure>

                <h1>Worth One Minute</h1>
            </div>
        </header>
    </section>

    <section class="main">
        <div class="container is-constrained">
            {{{body}}}
        </div>

        <div class="container is-constrained">
            <h3 class="is-size-3">Install apps</h3>

            <p>
                If you haven’t installed the WOM&nbsp;Pocket app yet, follow these links to download them for free and start receiving and paying using WOM vouchers.
            </p>

            <div class="columns badges">
                <div class="column">
                    <a href="https://play.google.com/store/apps/details?id=social.wom.pocket" title="Install WOM Pocket from Google Play">
                        <img src="/badge_google_play.png" alt="Install from Google Play" />
                    </a>
                </div>

                <div class="column">
                    <a href="https://apps.apple.com/it/app/wom-pocket/id1466969163" title="Install WOM Pocket from App Store">
                        <img src="/badge_app_store.png" alt="Install from App Store" />
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container is-max-desktop">
            <p><a href="https://wom.social">Privacy policy</a></p>
            <p>WOM&nbsp;Platform&nbsp;&mdash;&nbsp;{{ year }}</p>
        </div>
    </footer>

</body>
</html>
