<p>
    Tap the button below to complete the migration and restore your WOM&nbsp;vouchers in your <b>WOM&nbsp;Pocket</b> app.
</p>

<div class="buttons are-large is-centered call-to-action">
    <a href="{{ womProtocol }}://migration/{{ otc }}{{ #if password }}/{{ password }}{{ /if }}" title="Complete migration in WOM Pocket" class="button is-info">Migrate</a>
</div>
