<p>
    Tap the button above to perform the payment through your <b>WOM&nbsp;Pocket</b> app.
</p>

<div class="buttons are-large is-centered call-to-action">
    <a href="{{{ womProtocol }}}://pay/{{{ otc }}}" title="Perform payment using WOM Pocket" class="button is-info">Perform Payment</a>
</div>
