<div class="row">
    <div class="twelve columns">
        <p class="centered">
            <a class="button button-primary" href="wom://transfer/{{{ otc }}}" title="Redeem vouchers using WOM Pocket">
                Redeem Vouchers
            </a>
        </p>

        <p>
            Tap the button above to redeem the vouchers and store them in your <b>WOM&nbsp;Pocket</b> app.
        </p>

    </div>
</div>
