<p>
    Tap the button below to redeem the vouchers and store them in your <b>WOM&nbsp;Pocket</b> app.
</p>

<div class="buttons are-large is-centered call-to-action">
    <a href="{{ womProtocol }}://transfer/{{ otc }}" title="Redeem vouchers using WOM Pocket" class="button is-info">Redeem Vouchers</a>
</div>
