html b {
    font-weight: 600;
}
html body {
    font-family: 'Raleway';
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body section.main {
    flex-grow: 1;
}

section {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container.is-constrained {
    max-width: 480px !important;
}

figure.logo {
    max-width: 60vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 2.1rem;
    font-weight: 300;
    margin-bottom: 1em;
    text-align: center;
}
h3 {
    margin-top: 1em;
}

.call-to-action {
    margin-top: 1em;
    margin-bottom: 1em;
}

.badges {
    margin-top: 1em;
    margin-bottom: 1em;
}
.badges a {
    display: block;
    text-align: center;
}
.badges img {
    width: 50vw;
}

footer {
    text-align: center;
    margin-top: 3em;
    padding: 2rem 1rem;
    background-color: #e0e5ef;
}

/* Responsive */
@media screen and (min-width: 768px) {
    figure.logo {
        max-width: 45vw;
    }

    h1 {
        font-size: 2.8rem;
    }
}

@media screen and (min-width: 1024px) {
    figure.logo {
        max-width: 30vw;
    }

    h1 {
        font-size: 3.2rem;
    }
}
